@{
    ViewBag.Title = "O projekcie";
}

<h2>Temat:</h2>
<h3>"System do zarzadzania publikacjami (książki, czasopisma, CD, DVD i inne publikacje)"</h3>
<br />

<h2>Skład zespołu:</h2>
<ul style="font-size: 20px;">
    <li>Mateusz Tracz</li>
    <li>Rafał Niewiński</li>
</ul>

